#Trabajando con datos

In [3]:
import pandas as pd

In [29]:
dataset = pd.read_csv('alquiler.csv', sep = ';')

In [30]:
dataset

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
32956,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
32957,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
32958,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN
32959,Local comercial,Pachacámac,0,0,0,250,6500.0,4206.0,1109.0

In [31]:
#Genera un conjunto de estadísticas descriptivas de las columnas seleccionadas de un DataFrame.
dataset.describe()

,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
count,32960.000000,32960.000000,32960.000000,32960.000000,3.294300e+04,2.886700e+04,2.272300e+04
mean,1.771390,1.749059,0.665777,231.901547,1.295266e+04,2.388062e+03,2.364410e+03
std,1.717869,20.380402,1.176525,1135.254152,6.675220e+05,3.918496e+04,1.795641e+05
min,0.000000,0.000000,0.000000,0.000000,7.500000e+01,1.000000e+00,1.000000e+00
25%,0.000000,0.000000,0.000000,55.000000,1.500000e+03,5.900000e+02,1.100000e+02
50%,2.000000,1.000000,0.000000,87.000000,2.800000e+03,9.900000e+02,2.500000e+02
75%,3.000000,2.000000,1.000000,170.000000,6.500000e+03,1.800000e+03,6.970000e+02
max,100.000000,1966.000000,70.000000,90000.000000,1.200000e+08,6.552570e+06,2.705307e+07

In [32]:
type(dataset)

pandas.core.frame.DataFrame

In [33]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           32960 non-null  object
 1   Distrito       32960 non-null  object
 2   Cuartos        32960 non-null  int64
 3   Vacantes       32960 non-null  int64
 4   Suites         32960 non-null  int64
 5   Area           32960 non-null  int64
 6   Valor          32943 non-null  float64
 7   Mantenimiento  28867 non-null  float64
 8   Impuesto       22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [34]:
dataset.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

## Informaciones generales sobre la base de datos

In [35]:
dataset.dtypes

Tipo              object
Distrito          object
Cuartos            int64
Vacantes           int64
Suites             int64
Area               int64
Valor            float64
Mantenimiento    float64
Impuesto         float64
dtype: object

In [36]:
tipos_de_datos = pd.DataFrame(dataset.dtypes, columns = ['Tipos de datos'])

In [37]:
tipos_de_datos.columns.name = 'Variables'

In [38]:
tipos_de_datos

Variables     Tipos de datos
Tipo                  object
Distrito              object
Cuartos                int64
Vacantes               int64
Suites                 int64
Area                   int64
Valor                float64
Mantenimiento        float64
Impuesto             float64

In [39]:
dataset.shape

(32960, 9)

In [40]:
dataset.shape[0]

32960

In [41]:
dataset.shape[1]

9

In [42]:
print('La base de datos presenta {} registros (inmuebles) y {} variables'.format(dataset.shape[0], dataset.shape[1]))

La base de datos presenta 32960 registros (inmuebles) y 9 variables

## Importando datos desde diferentes fuentes

In [44]:
json = open('datos/alquiler.json')
print(json.read())

[{"Tipo":"Habitación","Distrito":"San Borja","Cuartos":1,"Vacantes":0,"Suites":0,"Area":40,"Valor":1700.0,"Mantenimiento":500.0,"Impuesto":60.0},
{"Tipo":"Casa","Distrito":"Lurigancho","Cuartos":2,"Vacantes":0,"Suites":1,"Area":100,"Valor":7000.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Local comercial","Distrito":"Ate","Cuartos":0,"Vacantes":4,"Suites":0,"Area":150,"Valor":5200.0,"Mantenimiento":4020.0,"Impuesto":1111.0},
{"Tipo":"Departamento","Distrito":"Pachacámac","Cuartos":1,"Vacantes":0,"Suites":0,"Area":15,"Valor":800.0,"Mantenimiento":390.0,"Impuesto":20.0},
{"Tipo":"Departamento","Distrito":"Ate","Cuartos":1,"Vacantes":0,"Suites":0,"Area":48,"Valor":800.0,"Mantenimiento":230.0,"Impuesto":null},
{"Tipo":"Departamento","Distrito":"Barranco","Cuartos":3,"Vacantes":1,"Suites":0,"Area":70,"Valor":1200.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Departamento","Distrito":"Comas","Cuartos":2,"Vacantes":0,"Suites":0,"Area":50,"Valor":1300.0,"Mantenimiento":301.0,"Impuesto":17.0},
{"Tipo":"Casa en condominio","Distrito":"Ate","Cuartos":5,"Vacantes":4,"Suites":5,"Area":750,"Valor":22000.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Casa en condominio","Distrito":"El Agustino","Cuartos":2,"Vacantes":2,"Suites":0,"Area":65,"Valor":1000.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Local comercial","Distrito":"Pachacámac","Cuartos":0,"Vacantes":3,"Suites":0,"Area":695,"Valor":35000.0,"Mantenimiento":19193.0,"Impuesto":3030.0}]

In [45]:
#DataFrame de un archivo json
df_json = pd.read_json('datos/alquiler.json')
df_json

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800,390.0,20.0
4,Departamento,Ate,1,0,0,48,800,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000,19193.0,3030.0

In [46]:
txt = open('datos/alquiler.txt')
print(txt.read())

Tipo	Distrito	Cuartos	Vacantes	Suites	Area	Valor	Mantenimiento	Impuesto
Habitación	San Borja	1	0	0	40	1700	500	60
Casa	Lurigancho	2	0	1	100	7000
Local comercial	Ate	0	4	0	150	5200	4020	1111
Departamento	Pachacámac	1	0	0	15	800	390	20
Departamento	Ate	1	0	0	48	800	230
Departamento	Barranco	3	1	0	70	1200
Departamento	Comas	2	0	0	50	1300	301	17
Casa en condominio	Ate	5	4	5	750	22000
Casa en condominio	El Agustino	2	2	0	65	1000
Local comercial	Pachacámac	0	3	0	695	35000	19193	3030

In [47]:
#DataFrame de un archivo txt
df_txt = pd.read_table('datos/alquiler.txt')
df_txt

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800,390.0,20.0
4,Departamento,Ate,1,0,0,48,800,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000,19193.0,3030.0

In [48]:
#DataFrame de un archivo excel
df_xlsx = pd.read_excel('datos/alquiler.xlsx')
df_xlsx

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800,390.0,20.0
4,Departamento,Ate,1,0,0,48,800,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000,19193.0,3030.0

In [50]:
#DataFrame de un archivo html
df_html = pd.read_html('datos/datos_html_1.html')
df_html

[     Año                           Campeón                        Subcampeón  \
 0   2018                           Francia                           Croacia
 1   2014                          Alemania                         Argentina
 2   2010                            España                           Holanda
 3   2006                            Italia                           Francia
 4   2002                            Brasil                          Alemania
 5   1998                           Francia                            Brasil
 6   1994                            Brasil                            Italia
 7   1990                          Alemania                         Argentina
 8   1986                         Argentina                    Alemania (RFA)
 9   1982                            Italia                    Alemania (RFA)
 10  1978                         Argentina                           Holanda
 11  1974                    Alemania (RFA)                           Holanda
 12  1970                            Brasil                            Italia
 13  1966                        Inglaterra                    Alemania (RFA)
 14  1962                            Brasil                    Checoslovaquia
 15  1958                            Brasil                            Suecia
 16  1954                    Alemania (RFA)                           Hungría
 17  1950                           Uruguay                            Brasil
 18  1946  No celebrado (II Guerra Mundial)  No celebrado (II Guerra Mundial)
 19  1942  No celebrado (II Guerra Mundial)  No celebrado (II Guerra Mundial)
 20  1938                            Italia                           Hungría
 21  1934                            Italia                    Checoslovaquia
 22  1930                           Uruguay                         Argentina

                                 Sede
 0                              Rusia
 1                             Brasil
 2                          Sudáfrica
 3                           Alemania
 4                   Corea S. y Japón
 5                            Francia
 6                     Estados Unidos
 7                             Italia
 8                             México
 9                             España
 10                         Argentina
 11                    Alemania (RFA)
 12                            México
 13                        Inglaterra
 14                             Chile
 15                            Suecia
 16                             Suiza
 17                            Brasil
 18  No celebrado (II Guerra Mundial)
 19  No celebrado (II Guerra Mundial)
 20                           Francia
 21                            Italia
 22                           Uruguay  ]

In [51]:
df_html[0]

,Año,Campeón,Subcampeón,Sede
0,2018,Francia,Croacia,Rusia
1,2014,Alemania,Argentina,Brasil
2,2010,España,Holanda,Sudáfrica
3,2006,Italia,Francia,Alemania
4,2002,Brasil,Alemania,Corea S. y Japón
5,1998,Francia,Brasil,Francia
6,1994,Brasil,Italia,Estados Unidos
7,1990,Alemania,Argentina,Italia
8,1986,Argentina,Alemania (RFA),México
9,1982,Italia,Alemania (RFA),España
10,1978,Argentina,Holanda,Argentina
11,1974,Alemania (RFA),Holanda,Alemania (RFA)
12,1970,Brasil,Italia,México
13,1966,Inglaterra,Alemania (RFA),Inglaterra
14,1962,Brasil,Checoslovaquia,Chile
15,1958,Brasil,Suecia,Suecia
16,1954,Alemania (RFA),Hungría,Suiza
17,1950,Uruguay,Brasil,Brasil
18,1946,No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial)
19,1942,No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial)
20,1938,Italia,Hungría,Francia
21,1934,Italia,Checoslovaquia,Italia
22,1930,Uruguay,Argentina,Uruguay

In [53]:
#Esta bien hecho, solo que la pagina dejó de funcionar
import requests
request = requests.get('https://www.federalreserve.gov/releases/h3/current/default.htm')
df_html = pd.read_html(request.text)
len(df_html)

KeyboardInterrupt: ignored

In [ ]:
#Si quiero ver la primera tabla
df_html[0]

                  Date      Reserve balances required  \
                  Date Reserve balance requirements 1
0              Month 7                        Month 7
1            Aug. 2019                         134639
2           Sept. 2019                         134707
3            Oct. 2019                         134998
4            Nov. 2019                         140705
5            Dec. 2019                         138984
6            Jan. 2020                         144816
7            Feb. 2020                         138370
8            Mar. 2020                         113139
9            Apr. 2020                              0
10            May 2020                              0
11           June 2020                              0
12           July 2020                              0
13           Aug. 2020                              0
14                 NaN                            NaN
15  Two weeks ending 8             Two weeks ending 8
16       July 15, 2020                              0
17       July 29, 2020                              0
18       Aug. 12, 2020                              0
19       Aug. 26, 2020                              0
20       Sept. 9, 2020                              0

                                                               \
   Top of penalty- free band 2 Bottom of penalty- free band 3
0                      Month 7                        Month 7
1                       148114                         121167
2                       148188                         121227
3                       148509                         121489
4                       154787                         126625
5                       152893                         125076
6                       159309                         130326
7                       152218                         124524
8                       124461                         101817
9                            0                              0
10                           0                              0
11                           0                              0
12                           0                              0
13                           0                              0
14                         NaN                            NaN
15          Two weeks ending 8             Two weeks ending 8
16                           0                              0
17                           0                              0
18                           0                              0
19                           0                              0
20                           0                              0

   Reserve balances maintained 4  \
                           Total
0                        Month 7
1                        1520876
2                        1439771
3                        1481513
4                        1529341
5                        1630090
6                        1645384
7                        1656989
8                        2045148
9                        2953586
10                       3217635
11                       3043556
12                       2718529
13                       2799719
14                           NaN
15            Two weeks ending 8
16                       2795785
17                       2623526
18                       2751124
19                       2821740
20                       2854690

                                                                  \
   Balances maintained to satisfy reserve balance requirements 5
0                                             Month 7
1                                              147555
2                                              147498
3                                              148050
4                                              154256
5                                              152562
6                                              158765
7                                              151612
8                                              124147
9                                                   0
10                                                  0
11                                                  0
12                                                  0
13                                                  0
14                                                NaN
15                                 Two weeks ending 8
16                                                  0
17                                                  0
18                                                  0
19                                                  0
20                                                  0


   Balances maintained that exceed the top of the penalty- free band 6
0                                             Month 7
1                                             1373321
2                                             1292273
3                                             1333462
4                                             1375085
5                                             1477528
6                                             1486619
7                                             1505377
8                                             1921000
9                                             2953586
10                                            3217635
11                                            3043556
12                                            2718529
13                                            2799719
14                                                NaN
15                                 Two weeks ending 8
16                                            2795785
17                                            2623526
18                                            2751124
19                                            2821740
20                                            2854690

In [ ]:
#Si quiero ver la segunda tabla
df_html[1]

                  Date            Reserves                      \
                  Date             Total 1            Required
0              Month 7             Month 7             Month 7
1            Aug. 2019             1586844              200608
2           Sept. 2019             1504805              199741
3            Oct. 2019             1547136              200621
4            Nov. 2019             1595222              206586
5            Dec. 2019             1698344              207239
6            Jan. 2020             1715219              214652
7            Feb. 2020             1726943              208324
8            Mar. 2020             2099369              167360
9            Apr. 2020             2953586                   0
10            May 2020             3217635                   0
11           June 2020             3043556                   0
12           July 2020             2718529                   0
13           Aug. 2020             2799719                   0
14                 NaN                 NaN                 NaN
15  Two weeks ending 8  Two weeks ending 8  Two weeks ending 8
16       July 15, 2020             2795785                   0
17       July 29, 2020             2623526                   0
18       Aug. 12, 2020             2751124                   0
19       Aug. 26, 2020             2821740                   0
20       Sept. 9, 2020             2854690                   0

          Vault cash 2                                      \
                 Total Used to satisfy required reserves 3
0              Month 7                             Month 7
1                78451                               65969
2                76550                               65035
3                76660                               65623
4                76921                               65881
5                80168                               68255
6                81216                               69835
7                80735                               69954
8                77114                               54222
9                88104                                   0
10              101345                                   0
11              104201                                   0
12               98392                                   0
13               95327                                   0
14                 NaN                                 NaN
15  Two weeks ending 8                  Two weeks ending 8
16               99459                                   0
17               97225                                   0
18               95638                                   0
19               95066                                   0
20               95313                                   0

                             Monetary base                              \
             Surplus 4             Total 5 Total balances maintained 6
0              Month 7             Month 7                     Month 7
1                12483             3271378                     1520876
2                11516             3202668                     1439771
3                11037             3252807                     1481513
4                11040             3315551                     1529341
5                11914             3426464                     1630090
6                11381             3442569                     1645384
7                10781             3454474                     1656989
8                22892             3883155                     2045148
9                88104             4844940                     2953586
10              101345             5149527                     3217635
11              104201             5001978                     3043556
12               98392             4700365                     2718529
13               95327             4807394                     2799719
14                 NaN                 NaN                         NaN
15  Two weeks ending 8  Two weeks ending 8          Two weeks ending 8
16               99459             4772522                     2795785
17               97225             4609143                     2623526
18               95638             4750981                     2751124
19               95066             4830999                     2821740
20               95313             4876690                     2854690


   Currency in circulation
0                  Month 7
1                  1750502
2                  1762898
3                  1771294
4                  1786209
5                  1796375
6                  1797185
7                  1797485
8                  1838007
9                  1891355
10                 1931891
11                 1958422
12                 1981836
13                 2007675
14                     NaN
15      Two weeks ending 8
16                 1976737
17                 1985617
18                 1999857
19                 2009260
20                 2022000

# Series e Index

## Eliminando valores repetidos

In [197]:
datos = pd.read_csv('alquiler.csv', sep = ';')

In [55]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [56]:
datos['Tipo']

0             Habitación
1                   Casa
2        Local comercial
3           Departamento
4           Departamento
              ...
32955         Habitación
32956       Departamento
32957       Departamento
32958       Departamento
32959    Local comercial
Name: Tipo, Length: 32960, dtype: object

In [57]:
#Al ser un DataFrame se puede buscar de la siguiente manera siempre que no tenga
#caracteres especiales o espacios
datos.Tipo

0             Habitación
1                   Casa
2        Local comercial
3           Departamento
4           Departamento
              ...
32955         Habitación
32956       Departamento
32957       Departamento
32958       Departamento
32959    Local comercial
Name: Tipo, Length: 32960, dtype: object

In [198]:
tipos_de_inmueble = datos.Tipo

In [59]:
type(tipos_de_inmueble)

pandas.core.series.Series

In [199]:
#Eliminar duplicados para esta unica visualizacion, no actualiza el objeto
tipos_de_inmueble.drop_duplicates()

0                        Habitación
1                              Casa
2                   Local comercial
3                      Departamento
7                Casa en condominio
16                Edificio completo
17                             Flat
29                     Tienda/Salón
80                          Almacén
83                   Casa comercial
117                   Casa de villa
159                         Terreno
207                         Cochera
347                            Loft
589      Tienda en Centro Comercial
2157                         Chacra
3354          Terreno em condominio
4379                        Oficina
4721                         Chalet
6983                         Studio
9687                          Hotel
23614              Local industrial
Name: Tipo, dtype: object

In [61]:
tipos_de_inmueble

0             Habitación
1                   Casa
2        Local comercial
3           Departamento
4           Departamento
              ...
32955         Habitación
32956       Departamento
32957       Departamento
32958       Departamento
32959    Local comercial
Name: Tipo, Length: 32960, dtype: object

In [200]:
#Eliminar duplicados y actualizar el objeto 'tipo_de_inmueble'
tipos_de_inmueble.drop_duplicates(inplace = True)

In [201]:
tipos_de_inmueble

0                        Habitación
1                              Casa
2                   Local comercial
3                      Departamento
7                Casa en condominio
16                Edificio completo
17                             Flat
29                     Tienda/Salón
80                          Almacén
83                   Casa comercial
117                   Casa de villa
159                         Terreno
207                         Cochera
347                            Loft
589      Tienda en Centro Comercial
2157                         Chacra
3354          Terreno em condominio
4379                        Oficina
4721                         Chalet
6983                         Studio
9687                          Hotel
23614              Local industrial
Name: Tipo, dtype: object

## Redefiniendo el index

In [202]:
tipos_de_inmueble.index

Int64Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,
               83,   117,   159,   207,   347,   589,  2157,  3354,  4379,
             4721,  6983,  9687, 23614],
           dtype='int64')

In [65]:
type(tipos_de_inmueble)

pandas.core.series.Series

In [203]:
#Lo convierto a DataFrame para poder trabajarlo
tipos_de_inmueble = pd.DataFrame(tipos_de_inmueble)

In [67]:
type(tipos_de_inmueble)

pandas.core.frame.DataFrame

In [204]:
#Cant. de filas
tipos_de_inmueble.shape[0]

22

In [205]:
#Para que los indices sean secuenciales
tipos_de_inmueble.index = range(tipos_de_inmueble.shape[0])
#Tambien se pudiera hacer: df.index = range(len(df))

In [206]:
tipos_de_inmueble.index

RangeIndex(start=0, stop=22, step=1)

In [71]:
tipos_de_inmueble

                          Tipo
0                   Habitación
1                         Casa
2              Local comercial
3                 Departamento
4           Casa en condominio
5            Edificio completo
6                         Flat
7                 Tienda/Salón
8                      Almacén
9               Casa comercial
10               Casa de villa
11                     Terreno
12                     Cochera
13                        Loft
14  Tienda en Centro Comercial
15                      Chacra
16       Terreno em condominio
17                     Oficina
18                      Chalet
19                      Studio
20                       Hotel
21            Local industrial

In [207]:
#Le agrego nombre a la primera columna
tipos_de_inmueble.columns.name = 'Id'

In [208]:
tipos_de_inmueble

Id                        Tipo
0                   Habitación
1                         Casa
2              Local comercial
3                 Departamento
4           Casa en condominio
5            Edificio completo
6                         Flat
7                 Tienda/Salón
8                      Almacén
9               Casa comercial
10               Casa de villa
11                     Terreno
12                     Cochera
13                        Loft
14  Tienda en Centro Comercial
15                      Chacra
16       Terreno em condominio
17                     Oficina
18                      Chalet
19                      Studio
20                       Hotel
21            Local industrial

## Creando series

In [74]:
data = [1,2,3,4,5]

In [75]:
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [76]:
index = ['Linea' + str(i) for i in range(5)]
index

['Linea0', 'Linea1', 'Linea2', 'Linea3', 'Linea4']

In [77]:
#Cambio el indice a la serie
s = pd.Series(data, index)
s

Linea0    1
Linea1    2
Linea2    3
Linea3    4
Linea4    5
dtype: int64

In [78]:
data = {'Linea' + str(i) : i+1 for i in range(5)}
data

{'Linea0': 1, 'Linea1': 2, 'Linea2': 3, 'Linea3': 4, 'Linea4': 5}

In [79]:
s = pd.Series(data)
s

Linea0    1
Linea1    2
Linea2    3
Linea3    4
Linea4    5
dtype: int64

In [80]:
s1 = s + 2
s1

Linea0    3
Linea1    4
Linea2    5
Linea3    6
Linea4    7
dtype: int64

In [81]:
#Se puede realizar operaciones aritmeticas entre series, si las series tienen el mismo index
s2 = s1 + s
s2

Linea0     4
Linea1     6
Linea2     8
Linea3    10
Linea4    12
dtype: int64

## Creando DataFrames

In [82]:
datos = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(datos)
df

   A  B
X  1  2
Y  3  4

In [83]:
datos = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(datos, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [84]:
#Concatenando dataframes
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0

In [85]:
datos = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',') #Crea una lista: ['X', 'Y']
columns = list('CBA')[::-1] # ['A', 'B', 'C']
df = pd.DataFrame(datos, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

In [86]:
data = [[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [87]:
df1 = pd.DataFrame(data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [88]:
index = ['Linea' + str(i) for i in range(3)]
index

['Linea0', 'Linea1', 'Linea2']

In [89]:
df1 = pd.DataFrame(data, index)
df1

        0  1  2
Linea0  1  2  3
Linea1  4  5  6
Linea2  7  8  9

In [90]:
columns = ['Columna' + str(i) for i in range(3)]
columns

['Columna0', 'Columna1', 'Columna2']

In [91]:
df1 = pd.DataFrame(data, index, columns)
df1

        Columna0  Columna1  Columna2
Linea0         1         2         3
Linea1         4         5         6
Linea2         7         8         9

In [92]:
data = {'Columna0':{'Linea0':1, 'Linea1':4, 'Linea2':7}, 
        'Columna1':{'Linea0':2, 'Linea1':5, 'Linea2':8}, 
        'Columna2':{'Linea0':3, 'Linea1':6, 'Linea2':9}}
data

{'Columna0': {'Linea0': 1, 'Linea1': 4, 'Linea2': 7},
 'Columna1': {'Linea0': 2, 'Linea1': 5, 'Linea2': 8},
 'Columna2': {'Linea0': 3, 'Linea1': 6, 'Linea2': 9}}

In [93]:
df2 = pd.DataFrame(data)
df2

        Columna0  Columna1  Columna2
Linea0         1         2         3
Linea1         4         5         6
Linea2         7         8         9

In [94]:
data = [(1,2,3),(4,5,6),(7,8,9)]
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [95]:
df3 = pd.DataFrame(data,index,columns)
df3

        Columna0  Columna1  Columna2
Linea0         1         2         3
Linea1         4         5         6
Linea2         7         8         9

In [96]:
df1[df1 > 0] = 'A'
df1

       Columna0 Columna1 Columna2
Linea0        A        A        A
Linea1        A        A        A
Linea2        A        A        A

In [97]:
df2[df2 > 0] = 'B'
df2

       Columna0 Columna1 Columna2
Linea0        B        B        B
Linea1        B        B        B
Linea2        B        B        B

In [98]:
df3[df3 > 0] = 'C'
df3

       Columna0 Columna1 Columna2
Linea0        C        C        C
Linea1        C        C        C
Linea2        C        C        C

In [99]:
#Concatenar los 3 dataframes, las columnas se utilizan como llaves y las filas se colocan secuencialmente,
#es decir se concatena verticalmente
df4 = pd.concat([df1,df2,df3])
df4

       Columna0 Columna1 Columna2
Linea0        A        A        A
Linea1        A        A        A
Linea2        A        A        A
Linea0        B        B        B
Linea1        B        B        B
Linea2        B        B        B
Linea0        C        C        C
Linea1        C        C        C
Linea2        C        C        C

In [100]:
#Concatenar horizontalmente, axis = 1 se refiera a las filas
df5 = pd.concat([df1,df2,df3], axis = 1)
df5

,Columna0,Columna1,Columna2,Columna0,Columna1,Columna2,Columna0,Columna1,Columna2
Linea0,A,A,A,B,B,B,C,C,C
Linea1,A,A,A,B,B,B,C,C,C
Linea2,A,A,A,B,B,B,C,C,C

# Filtrando datos

## Reporte de analisis de inmuebles residenciales

In [209]:
datos = pd.read_csv('alquiler.csv', sep = ';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [210]:
list(datos['Tipo'].drop_duplicates())

['Habitación',
 'Casa',
 'Local comercial',
 'Departamento',
 'Casa en condominio',
 'Edificio completo',
 'Flat',
 'Tienda/Salón',
 'Almacén',
 'Casa comercial',
 'Casa de villa',
 'Terreno',
 'Cochera',
 'Loft',
 'Tienda en Centro Comercial',
 'Chacra',
 'Terreno em condominio',
 'Oficina',
 'Chalet',
 'Studio',
 'Hotel',
 'Local industrial']

In [211]:
residencial = ['Habitación',
 'Casa',
 'Departamento',
 'Casa en condominio',
 'Casa comercial',
 'Casa de villa']
residencial

['Habitación',
 'Casa',
 'Departamento',
 'Casa en condominio',
 'Casa comercial',
 'Casa de villa']

In [212]:
seleccion = datos['Tipo'].isin(residencial)
seleccion

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [213]:
datos_residencial = datos[seleccion]
datos_residencial

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32953,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0
32955,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
32956,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
32957,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
32958,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN

In [214]:
#Para verificar
list(datos_residencial['Tipo'].drop_duplicates())

['Habitación',
 'Casa',
 'Departamento',
 'Casa en condominio',
 'Casa comercial',
 'Casa de villa']

In [215]:
#Como los indices no estan secuenciales se hace lo siguiente
datos_residencial.index = range(len(datos_residencial))
datos_residencial

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22840,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0
22841,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
22842,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
22843,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
22844,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN

## Exportando base de datos

In [216]:
datos_residencial.to_csv('alquiler_residencial.csv', sep = ';')
#Se exportó la columna index tambien

In [217]:
datos_residencial_2 = pd.read_csv('alquiler_residencial.csv', sep = ';')
datos_residencial_2
#La columna 'Unnamed:0' es el index

,Unnamed: 0,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
22840,22840,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0
22841,22841,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
22842,22842,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
22843,22843,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
22844,22844,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN

In [218]:
#Para no exportar el index,,si no se borró el archivo se lo sobreescribe
datos_residencial.to_csv('alquiler_residencial.csv', sep = ';', index = False)

In [219]:
datos_residencial_2 = pd.read_csv('alquiler_residencial.csv', sep = ';')
datos_residencial_2

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22840,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0
22841,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
22842,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
22843,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
22844,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN

# Organizando dataframes

In [112]:
data = [[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [113]:
list('321')

['3', '2', '1']

In [114]:
df = pd.DataFrame(data, list('321'), list('ZYX'))
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

In [115]:
#Ordenar el index
df.sort_index(inplace = True)
df

   Z  Y  X
1  7  8  9
2  4  5  6
3  1  2  3

In [116]:
#Ordenar las columnas
df.sort_index(inplace = True, axis = 1)
df

   X  Y  Z
1  9  8  7
2  6  5  4
3  3  2  1

In [117]:
#Ordenar los valores por la columna x
df.sort_values(by = 'X', inplace = True)
df
#Los indices se vuelven a desordenar

   X  Y  Z
3  3  2  1
2  6  5  4
1  9  8  7

In [118]:
#Ordenar los valores horizontalmente
df.sort_values(by = '3', axis = 1, inplace = True)
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

# Selecciones y Frecuencias

In [220]:
datos = pd.read_csv('alquiler_residencial.csv', sep = ';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
5,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
6,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
7,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
8,Departamento,Pachacámac,1,0,0,36,1200.0,NaN,NaN
9,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0

In [221]:
#Seleccione solamente los inmuebles con tipo 'Departamento'
seleccion = datos['Tipo'] == 'Departamento'
n1 = datos[seleccion].shape[0] #Cant. o frecuencia de departamentos
n1

19532

In [222]:
#Seleccione los inmuebles clasificados con tipos 'Casa', 'Casa en condominio' y 'Casa de villa'
seleccion = (datos['Tipo'] == 'Casa') | (datos['Tipo'] == 'Casa en condominio') |  (datos['Tipo'] == 'Casa de villa')
n2 = datos[seleccion].shape[0]
n2

2212

In [223]:
#Seleccione los inmuebles con area entre 60 y 100 metros cuadrados, incluyendo los limites
seleccion = (datos['Area'] >= 60) & (datos['Area'] <= 100)
n3 = datos[seleccion].shape[0]
n3

8736

In [224]:
#Seleccione los inmuebles que tengan por los menos 4 cuartos y alquiler menor a $2000.0
seleccion = (datos['Cuartos'] >= 4) & (datos['Valor'] < 2000.0)
n4 = datos[seleccion].shape[0]
n4

41

In [225]:
print("N° de inmuebles clasificados con tipo 'Departamento' -> {}".format(n1))
print("N° de inmuebles clasificados con tipo 'Casa', 'Casa en codominio' y 'Casa de villa' -> {}".format(n2))
print("N° de inmuebles con area entre 60 y 100 metros cuadrados, incluyendo los limites -> {}".format(n3))
print("N° de inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2.000,0 -> {}".format(n4))

N° de inmuebles clasificados con tipo 'Departamento' -> 19532
N° de inmuebles clasificados con tipo 'Casa', 'Casa en codominio' y 'Casa de villa' -> 2212
N° de inmuebles con area entre 60 y 100 metros cuadrados, incluyendo los limites -> 8736
N° de inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2.000,0 -> 41

# Formas de seleccion

In [125]:
'l1 l2 l3 l4'.split()

['l1', 'l2', 'l3', 'l4']

In [126]:
data = [(1,2,3,4),
        (5,6,7,8),
        (8,10,11,12),
        (13,14,15,16)]
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split())
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [127]:
#Quiero ver los resultados de la columna 'c1'
df['c1']

l1     1
l2     5
l3     8
l4    13
Name: c1, dtype: int64

In [128]:
type(df['c1'])

pandas.core.series.Series

In [129]:
#Cuando selecciono más de una columna se deben poner dentro de una lista
df[['c3', 'c1']]

    c3  c1
l1   3   1
l2   7   5
l3  11   8
l4  15  13

In [130]:
type(df[['c3', 'c1']])

pandas.core.frame.DataFrame

In [131]:
#Quiero las filas l2 y l3, o sea posicion 1 y 2
df[1:3]

    c1  c2  c3  c4
l2   5   6   7   8
l3   8  10  11  12

In [132]:
#Quiero las filas desde l2 hasta al final y las columnas 'c3' y 'c1'
df[1:][['c3','c1']]

    c3  c1
l2   7   5
l3  11   8
l4  15  13

In [133]:
#Metodo de Pandas: loc, utiliza los nombres de las columnas o filas, no los indices
#Quiero los valores de la linea l3
df.loc['l3']

c1     8
c2    10
c3    11
c4    12
Name: l3, dtype: int64

In [134]:
#Quiero los valores de las lineas l3 y l2
df.loc[['l3', 'l2']]

    c1  c2  c3  c4
l3   8  10  11  12
l2   5   6   7   8

In [135]:
#Quiero la interseccion de la fila l1 con la columna c2
df.loc['l1','c2']

2

In [136]:
#Metodo de Pandas: iloc, utiliza las posiciones de las columnas o filas, no los nombres
#Quiero la interseccion de la fila l1 con la columna c2
df.iloc[0,1]

2

In [137]:
#Quiero una matriz con las filas y columnas indicadas utilizando el metodo loc
df.loc[['l3','l1'],['c4','c1']]

    c4  c1
l3  12   8
l1   4   1

In [138]:
#Quiero una matriz con las filas y columnas indicadas utilizando el metodo iloc
df.iloc[[2,0],[3,0]]

    c4  c1
l3  12   8
l1   4   1

# Tratamiento de datos faltantes

In [226]:
datos = pd.read_csv('alquiler_residencial.csv', sep = ';')

In [227]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
5,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
6,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
7,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
8,Departamento,Pachacámac,1,0,0,36,1200.0,NaN,NaN
9,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0

In [228]:
#Crea un dataframe donde si es true es porque tiene un valor null
datos.isnull()

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...
22840,False,False,False,False,False,False,False,False,False
22841,False,False,False,False,False,False,False,False,False
22842,False,False,False,False,False,False,False,False,False
22843,False,False,False,False,False,False,False,False,False
22844,False,False,False,False,False,False,False,False,True

In [229]:
#Funcion parecida a la anterior pero trabaja de manera contraria
datos.notnull()

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,False,False
2,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,False
4,True,True,True,True,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...
22840,True,True,True,True,True,True,True,True,True
22841,True,True,True,True,True,True,True,True,True
22842,True,True,True,True,True,True,True,True,True
22843,True,True,True,True,True,True,True,True,True
22844,True,True,True,True,True,True,True,True,False

In [230]:
#Para saber exactamente que columnas tienen valores nulos se hace lo siguiente
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22845 entries, 0 to 22844
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           22845 non-null  object
 1   Distrito       22845 non-null  object
 2   Cuartos        22845 non-null  int64
 3   Vacantes       22845 non-null  int64
 4   Suites         22845 non-null  int64
 5   Area           22845 non-null  int64
 6   Valor          22836 non-null  float64
 7   Mantenimiento  20796 non-null  float64
 8   Impuesto       15976 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [231]:
#Como lo siguiente es una serie booleana, se puede convertir a condicion
datos['Valor'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
22840    False
22841    False
22842    False
22843    False
22844    False
Name: Valor, Length: 22845, dtype: bool

In [232]:
#Me trae solamente los valores en lo que la condicion es true
datos[datos['Valor'].isnull()]

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
58,Departamento,Ate,2,1,1,70,NaN,970.0,68.0
1515,Departamento,San Bartolo,2,0,0,75,NaN,878.0,NaN
1708,Casa,Lince,3,4,3,363,NaN,NaN,NaN
2039,Departamento,Chorrillos,2,0,0,95,NaN,1010.0,170.0
2061,Departamento,San Borja,2,0,0,72,NaN,850.0,NaN
4998,Casa,Lince,3,2,1,100,NaN,NaN,NaN
8674,Departamento,San Bartolo,2,0,1,75,NaN,878.0,NaN
9061,Departamento,La Punta,3,0,1,135,NaN,910.0,228.0
9264,Departamento,La Perla,3,1,1,105,NaN,880.0,221.0

In [233]:
A = datos.shape[0] #Cant de lineas antes de la eliminacion
datos.dropna(subset = ['Valor'], inplace = True) #Elimina filas en la que la columna 'Valor' tenga valores NaN
B = datos.shape[0] #Cant de lineas despues de la eliminacion
A - B #Cant de lineas eliminadas

9

In [234]:
#Ahora no hay valores nulos
datos[datos['Valor'].isnull()]

Empty DataFrame
Columns: [Tipo, Distrito, Cuartos, Vacantes, Suites, Area, Valor, Mantenimiento, Impuesto]
Index: []

## Tratamiento condicional

In [235]:
#Podemos los valores nulos de la columna 'Mantenimiento' siempre y cuando el tipo sea 'Departamento'
datos[datos['Mantenimiento'].isnull()].shape[0] #Cant de lineas que tienen null en 'Mantenimiento'

2047

In [236]:
seleccion = (datos['Mantenimiento'].isnull()) & (datos['Tipo'] == 'Departamento' )

In [237]:
A = datos.shape[0] #Cant de lineas antes de la eliminacion
datos = datos[~seleccion]
B = datos.shape[0] #Cant de lineas despues de la eliminacion
A - B #Cant de lineas eliminadas

745

In [238]:
#Cant de lineas que todavia tienen null en 'Mantenimiento'
datos[datos['Mantenimiento'].isnull()].shape[0]

1302

In [239]:
#Reemplazar los valores nulos restantes en 'Mantenimiento' e 'Impuesto' por 0
datos = datos.fillna({'Mantenimiento': 0, 'Impuesto': 0})

In [240]:
#Cant de lineas que todavia tienen null en 'Mantenimiento'
datos[datos['Mantenimiento'].isnull()].shape[0]

0

In [241]:
#Cant de lineas que todavia tienen null en 'Impuesto'
datos[datos['Impuesto'].isnull()].shape[0]

0

In [242]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22091 entries, 0 to 22844
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           22091 non-null  object
 1   Distrito       22091 non-null  object
 2   Cuartos        22091 non-null  int64
 3   Vacantes       22091 non-null  int64
 4   Suites         22091 non-null  int64
 5   Area           22091 non-null  int64
 6   Valor          22091 non-null  float64
 7   Mantenimiento  22091 non-null  float64
 8   Impuesto       22091 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [243]:
#Exportar dataframe
datos.to_csv('alquiler_residencial.csv', sep = ';', index = False)

# Métodos de interpolación

In [157]:
#None es NaN
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [158]:
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

In [166]:
#Lo anterior es solo una visualizacion, para que se actualize hay que poner inplace = True
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [160]:
#Sustituye NaN por un valor no nulo anterior a el
s.fillna(method = 'ffill')

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [162]:
#Parecido al method 'ffil' pero comienza desde el final
s.fillna(method = 'bfill')

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [164]:
#.mean() calcula la media de la serie
s.fillna(s.mean())

0     0.500
1     0.575
2     0.575
3     0.520
4     0.540
5     0.575
6     0.575
7     0.590
8     0.600
9     0.575
10    0.700
dtype: float64

In [167]:
#Para no reemplzar por ejemplo 5 veces seguidas NaN porque puede afectar los graficos, se usan los limites
s.fillna(method = 'ffill', limit = 1)

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [169]:
#Para combinar dos metodos de fill
s1 = s.fillna(method = 'ffill', limit = 1)
s1

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [170]:
s2 = s1.fillna(method = 'bfill', limit = 1)
s2

0     0.50
1     0.50
2     0.52
3     0.52
4     0.54
5     0.54
6     0.59
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

# Nuevas variables

## Creando nuevas variables

In [244]:
datos = pd.read_csv('alquiler_residencial.csv', sep = ';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
5,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0
6,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0
7,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0
8,Departamento,San Borja,3,1,1,90,1500.0,455.0,14.0
9,Departamento,San Borja,1,0,1,40,2000.0,561.0,50.0

In [245]:
#Nueva columna
datos['Valor Bruto'] = (datos['Valor']) + (datos['Mantenimiento']) + (datos['Impuesto'])
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor Bruto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,2260.0
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,7000.0
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,1210.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,1030.0
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,1618.0
5,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,22000.0
6,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,1000.0
7,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,2216.0
8,Departamento,San Borja,3,1,1,90,1500.0,455.0,14.0,1969.0
9,Departamento,San Borja,1,0,1,40,2000.0,561.0,50.0,2611.0

In [246]:
datos['Valor m2'] = (datos['Valor']) / (datos['Area'])
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor Bruto,Valor m2
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,2260.0,42.500000
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,7000.0,70.000000
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,1210.0,53.333333
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,1030.0,16.666667
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,1618.0,26.000000
5,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,22000.0,29.333333
6,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,1000.0,15.384615
7,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.428571
8,Departamento,San Borja,3,1,1,90,1500.0,455.0,14.0,1969.0,16.666667
9,Departamento,San Borja,1,0,1,40,2000.0,561.0,50.0,2611.0,50.000000

In [247]:
#Redondear a dos decimales una columna
datos['Valor m2'] = datos['Valor m2'].round(2)
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor Bruto,Valor m2
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,1210.0,53.33
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,1030.0,16.67
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00
5,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33
6,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38
7,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.43
8,Departamento,San Borja,3,1,1,90,1500.0,455.0,14.0,1969.0,16.67
9,Departamento,San Borja,1,0,1,40,2000.0,561.0,50.0,2611.0,50.00

In [248]:
datos['Valor Bruto m2'] = ((datos['Valor']) / (datos['Area'])).round(2)
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor Bruto,Valor m2,Valor Bruto m2
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,42.50
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,53.33
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,16.67
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,26.00
5,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33,29.33
6,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38,15.38
7,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.43,21.43
8,Departamento,San Borja,3,1,1,90,1500.0,455.0,14.0,1969.0,16.67,16.67
9,Departamento,San Borja,1,0,1,40,2000.0,561.0,50.0,2611.0,50.00,50.00

In [249]:
#Agrupar tipos
casa = ['Casa', 'Casa en condominio', 'Casa de villa']
datos['Tipo Agrupado'] = datos['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Departamento')
datos

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor Bruto,Valor m2,Valor Bruto m2,Tipo Agrupado
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,42.50,Departamento
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00,Casa
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,53.33,Departamento
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,16.67,Departamento
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,26.00,Departamento
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22086,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0,1438.0,12.86,12.86,Departamento
22087,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0,1175.0,29.63,29.63,Departamento
22088,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0,2640.0,23.08,23.08,Departamento
22089,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0,1946.0,29.17,29.17,Departamento
22090,Departamento,Rímac,2,0,0,70,3000.0,760.0,0.0,3760.0,42.86,42.86,Departamento

## Excluyendo variables

In [250]:
datos_aux = pd.DataFrame(datos[['Tipo Agrupado','Valor m2','Valor Bruto','Valor Bruto m2']])
datos_aux.head(10)

  Tipo Agrupado  Valor m2  Valor Bruto  Valor Bruto m2
0  Departamento     42.50       2260.0           42.50
1          Casa     70.00       7000.0           70.00
2  Departamento     53.33       1210.0           53.33
3  Departamento     16.67       1030.0           16.67
4  Departamento     26.00       1618.0           26.00
5          Casa     29.33      22000.0           29.33
6          Casa     15.38       1000.0           15.38
7  Departamento     21.43       2216.0           21.43
8  Departamento     16.67       1969.0           16.67
9  Departamento     50.00       2611.0           50.00

In [251]:
#Borrar una columna
del datos_aux['Valor Bruto'] #Solo elimina una columna a la vez
datos_aux.head(10)

  Tipo Agrupado  Valor m2  Valor Bruto m2
0  Departamento     42.50           42.50
1          Casa     70.00           70.00
2  Departamento     53.33           53.33
3  Departamento     16.67           16.67
4  Departamento     26.00           26.00
5          Casa     29.33           29.33
6          Casa     15.38           15.38
7  Departamento     21.43           21.43
8  Departamento     16.67           16.67
9  Departamento     50.00           50.00

In [252]:
#Borrar una columna
datos_aux.pop('Valor Bruto m2') #Solo borra una columna a la vez
datos_aux.head(10)

  Tipo Agrupado  Valor m2
0  Departamento     42.50
1          Casa     70.00
2  Departamento     53.33
3  Departamento     16.67
4  Departamento     26.00
5          Casa     29.33
6          Casa     15.38
7  Departamento     21.43
8  Departamento     16.67
9  Departamento     50.00

In [253]:
#Borrar una columna
datos.drop(['Valor Bruto', 'Valor Bruto m2'], axis = 1, inplace = True) #Podemos excluir no sólo columnas (axis = 1), sino también líneas (default).
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Tipo Agrupado
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,42.50,Departamento
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,53.33,Departamento
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0,16.67,Departamento
4,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,26.00,Departamento
5,Casa en condominio,Ate,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
6,Casa en condominio,El Agustino,2,2,0,65,1000.0,0.0,0.0,15.38,Casa
7,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0,21.43,Departamento
8,Departamento,San Borja,3,1,1,90,1500.0,455.0,14.0,16.67,Departamento
9,Departamento,San Borja,1,0,1,40,2000.0,561.0,50.0,50.00,Departamento

In [254]:
datos.to_csv('alquiler_residencial.csv', sep = ';', index = False)

# Contadores

In [4]:
s = pd.Series(list('dfadsfasdfasdfdsafdsaa'))
s

0     d
1     f
2     a
3     d
4     s
5     f
6     a
7     s
8     d
9     f
10    a
11    s
12    d
13    f
14    d
15    s
16    a
17    f
18    d
19    s
20    a
21    a
dtype: object

In [5]:
s.unique()

array(['d', 'f', 'a', 's'], dtype=object)

In [6]:
s.value_counts()

d    6
a    6
f    5
s    5
dtype: int64

In [8]:
datos = pd.read_csv('alquiler.csv', sep = ';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [9]:
#Valores unicos de una columna
datos.Tipo.unique()

array(['Habitación', 'Casa', 'Local comercial', 'Departamento',
       'Casa en condominio', 'Edificio completo', 'Flat', 'Tienda/Salón',
       'Almacén', 'Casa comercial', 'Casa de villa', 'Terreno', 'Cochera',
       'Loft', 'Tienda en Centro Comercial', 'Chacra',
       'Terreno em condominio', 'Oficina', 'Chalet', 'Studio', 'Hotel',
       'Local industrial'], dtype=object)

In [10]:
datos.Tipo.value_counts()

Departamento                  19532
Local comercial                6815
Tienda/Salón                   1426
Casa en condominio              996
Casa                            967
Habitación                      836
Almacén                         623
Flat                            476
Edificio completo               301
Casa comercial                  265
Casa de villa                   249
Tienda en Centro Comercial      247
Cochera                          82
Terreno                          70
Loft                             51
Oficina                          10
Terreno em condominio             5
Studio                            4
Hotel                             2
Chacra                            1
Chalet                            1
Local industrial                  1
Name: Tipo, dtype: int64